* {
  z-index: 2;
}

p,
h1,
span,
p {
  z-index: 0;
}

.border-animation::before {
  content: "";
  background-image: conic-gradient(rgb(100 250 208) 40deg, transparent 120deg);
  width: 150%;
  aspect-ratio: 1;
  position: absolute;
  top: -70px;
  left: -35px;
  z-index: 1;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
